.PlayerVoting{
	margin: 30%;
	width: 100%;
	height: 30%;
	flow-children: down;
}

#MainPanel {
	width: 100%;
	height: 66%;
	
	border-radius: 25px 25px;
	background-color: #0d1c22ff, gradient( radial, 100% -0%, 100px -90px, 320% 400%, from( #3a464bff ), color-stop( 0.30, #0d1c22ff ), to( #0d1c22ff ) );
	flow-children: down;
}

Label {
    font-size: 25px;
    color: black;
    vertical-align: center;
	horizontal-align: center;
}
 
#Title {
	margin-top: 16px;
    flow-children: right;
	horizontal-align: center;
}

#TitleName {
    color: #cccccc;
	//color: gradient( linear, 0% 0%, 0% 100%, from( #fbfbcbff ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) );
    font-size: 64px;
    text-transform: uppercase;
    vertical-align: center;
	
	animation-duration: 3.0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-name: titletext;
}

#VotePanel{
	margin-top: 25px;
	margin-bottom: 10px;
	flow-children: right;
	horizontal-align: center;
}

#Vote1 ,
#Vote2 ,
#Vote3 {
	margin-left: 10px;
	width: 200px;
	height: 90px;
}

#ConfirmButton {
	width: 200px;
	height: 50px;
	border: 1px solid #0d1c22ff, gradient( radial, 100% -0%, 100px -90px, 320% 400%, from( #3a464bff ), color-stop( 0.30, #0d1c22ff ), to( #0d1c22ff ) );
	horizontal-align: center;
}

.selected {
	margin-top: 5px;
	margin-bottom: 5px;
	
	//background-image: url("s2r://panorama/images/hud/learnspell_png.vtex");
	//background-size: 100% 100%;
	//background-position: right 0%;
	//background-repeat: no-repeat;
	
	animation-duration: 0.6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
    animation-name: select;
}

Button {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #fbfbfbff ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) );
	border-radius: 15px 15px;
}

Button:hover   {
	brightness: 1.2;
	
	animation-duration: 3.0s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
    animation-name: hover;
}

Button:active	{
	brightness: 0.7;
}

@keyframes 'select'
{
	//:}
	0% { transform: rotateZ( -1.5deg ); }
	50% { transform: rotateZ( 1.5deg ); }
	100% { transform: rotateZ( -1.5deg ); }
}

@keyframes 'hover'
{
	//:}
	0% { background-color: gradient( linear, 0% 0%, 0% 100%, from( #fbfbfbff ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) ); }
	50% { background-color: gradient( linear, 100% 0%, 0% 100%, from( #fbfbfbff ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) ); }
	100% { background-color: gradient( linear, -1% 0%, 0% 100%, from( #fbfbfbff ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) ); }
}

 @keyframes 'titletext'
 {
	//:}
	0% { color: gradient( linear, 1% 0%, 0% 100%, from( #cccccc ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) ); }
	50% { color: gradient( linear, 100% 0%, 0% 100%, from( #cccccc ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) ); }
	100% { color: gradient( linear, -1% -10%, -10% 100%, from( #cccccc ), color-stop( 0.3, #ebebebff ), to( #c0c0c0c0 ) ); }
 }